---
layout: default
---
<h1><a href="/"><img src="/images/logo-wide.jpg" style="width:75%" alt="conkuer.llc" /></a> about</h1>
<hr />
<br />
<p>
  I work with small teams of determined, passionate people, who believe in what they do. I have over 10 years of big project software engineering, applied computer science, and technical startup experience.  From my time in school for architecture, to computer science, federal projects, non-profits, and startups, I enjoy being a clock builder of value to my clients.
</p>
<p>
  My favorite areas to work within are design and scoping sessions with clients, web application prototyping, data modeling, payments, building and consuming API services, and mapping data to visualizations.
</p>
<p>
  For questions and inquiries, please contact me below.
</p>

<ul class="contact-list">
  <li>{{ site.name }}</li>
  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
</ul>
<ul class="social-media-list">
  {% if site.linkedin_username %}
  <li>
    <a href="http://linkedin.com/in/{{ site.linkedin_username }}"> LinkedIn </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a href="http://github.com/{{ site.github_username }}"> Github </a>
  </li>
  {% endif %}
  {% if site.twitter_username %}
  <li>
    <a href="http://twitter.com/{{ site.twitter_username }}"> Twitter </a>
  </li>
  {% endif %}
</ul>
